@import "./../../styles/variables";

.product {
  padding-top: 156px;
  margin-bottom: 160px;
}

.breadcrumps {
  font-family: $font-medium;
  margin-bottom: 48px;
  font-size: 16px;
  color: $color-grey;
  color: inherit;
  a {
    color: #7f7f7f;
  }
}

.productWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 60px;
}

.productSlider {
  max-width: 50%;
  position: relative;
}

.productTag {
  position: absolute;
  top: 18px;
  left: 18px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  padding: 2px 15px;
  background-color: #dcb65a;
  color: #ffffff;
  z-index: 10;
}

.sliderImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-next,
.product-prev {
  width: unset;
  position: absolute;
  z-index: 10;
  background: $color-black;
  width: 37px;
  height: 37px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  //   transform: translateY(-50%);
}

.product-next {
  right: 18px;
}
.product-prev {
  left: 18px;
  transform: rotate(180deg);
}

.product-next svg path,
.product-prev svg path {
  fill: #fff;
}

.productName {
  font-family: $font-bold;
  margin-bottom: 11px;
  font-size: 36px;
}

.productMiniDesc {
  margin-bottom: 18px;
}

.productMiniInfo {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.productInStokNo span {
  background: #d2696b;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;
}

.productInStokYes span {
  background: #aad269;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;
}

.productWarranty svg {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.productMaxInfo {
  margin-bottom: 64px;
}

.productInfoBottomTop {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.productInfoPrice {
  display: flex;
  align-items: center;
  gap: 36px;
}

.productInfoActualPrice {
  font-family: $font-bold;
  font-size: 36px;
}

.productInfoOldPrice {
  font-family: $font-medium;
  font-size: 24px;
  text-decoration: line-through;
  color: #7f7f7f;
}

.productInfoCounter {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
}

.productInfoMinus,
.productInfoBtn,
.productInfoPlus {
  align-items: center;
  padding: 5px 16px;
  background-color: #ffffff;
}

.productInfoPurchase {
  display: flex;
  align-items: stretch;
  gap: 12px;
}

.btn1clickBtn {
  width: 100%;
  flex: 1;
}

.productFullDescHeader {
  margin-bottom: 32px;
}

.productFullDescWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}

@media (max-width: 768px) {
  .productFullDescWrapper {
    grid-template-columns: 1fr; /* одна колонка */
  }
  .productWrapper {
    flex-direction: column;
    .productSlider {
      max-width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .productInfoPrice {
    flex-direction: column-reverse;
    gap: 12px;
    align-items: flex-start;
  }
  .productInfoBottomTop {
    align-items: flex-end;
  }
  .productInfoActualPrice {
    font-size: 28px;
  }
  .product {
    margin-bottom: 80px;
    padding-top: 100px;
  }
}
