@import "./../../styles/variables";

.buyInOneClick {
  position: fixed;
  z-index: 999;
  background: rgba($color: #000000, $alpha: 0.3);
  width: 100vw;
  height: 100vh;
}

.buyInOneClickContainer {
  position: relative;
}

.buyInOneClickWrapper {
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  .basketItemInfo {
    width: 100%;
  }
  .basketItemInfoTop {
    justify-content: space-between;
  }
}

.buyInOneClickWrapper {
  padding: 18px;
}

.buyInOneClicHeader {
  font-size: 32px;
  margin-bottom: 32px;
  font-family: $font-bold;
}

.buyInOneClickList {
  margin-bottom: 32px;
  max-height: 220px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  li {
    background: #d6d6d6;
    padding: 4px;
  }
}

.buyInOneClickWrapperTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.buyInOneClickTotal {
  background: #fff;
  border: 1px solid $color-black;
  padding: 16px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  p {
    margin: 0;
  }
  margin-bottom: 32px;
}

.basketResultMainNumbers {
  text-align: right;
  p {
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .buyInOneClickWrapper {
    width: 80%;
  }
  .basketResultMainNumbers {
    text-align: right;
  }
}

@media screen and (max-width: 540px) {
  .buyInOneClickTotal {
    flex-direction: column;
    align-items: flex-start;
  }
  .basketResultMainNumbers {
    text-align: left;
    align-items: flex-start;
  }
  .basketResultMainNumbers p.count {
    text-align: left;
  }
  .buyInOneClicHeader {
    font-size: 24px;
  }
}
